@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
input {
    border: 1px solid black;
    border-radius: 5%;
}

button {
    margin-left: 1%;
    border: 0px solid;
    background-color: rgb(60, 114, 116);
    height: 30px;
    width: 100px;
    border-radius: 10%;
    font-family: "Fjalla One", sans-serif;
}

#form {
    border: 0px solid;
    height: 550px;
    width: 100%;
    padding: 15%;
    background-color: rgb(245, 239, 239);
}

h1,
label {
    font-family: "Fjalla One", sans-serif;
}

img {
    margin-right: 2%;
}

body {
    background-image: url("https://hackernoon.com/hn-images/1*tTSlpu3Q6ibx4_8kCJ0BEg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
}