@import "~bootstrap/dist/css/bootstrap.css";
input {
    width: 50%;
    border: 1px solid black;
    border-radius: 5%;
}

button {
    margin-left: 10%;
}


/* .jumbotron {
    background-color: white;
}

#form,
h1 {
    text-align: center;
} */

img {
    margin-right: 2%;
}


/* #container {
    margin-left: 30%;
    overflow-x: hidden;
} */