@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
input {
    width: 50%;
    border: 1px solid black;
    border-radius: 5%;
}

button {
    margin-left: 3%;
    border: 0px solid;
    height: 50px;
    width: 100px;
    border-radius: 10%;
    font-family: 'Fjalla One', sans-serif;
}


/* .jumbotron {
    background-color: white;
} */

#form,
h1,
label {
    font-family: 'Fjalla One', sans-serif;
}

img {
    margin-right: 2%;
}


/* #container {
    margin-left: 30%;
    overflow-x: hidden;
} */