<div class="container">
    <div class="row">

        <div class="col-md-4 card">
            <div class="card-body">
                <p><strong>UserName:</strong>{{myUsers.name}}</p> <br>
                <p><strong>User's Image</strong></p>
                <img src="{{myUsers.avatar}}" width="90%"><br>
                <p><strong>User's Id:</strong>{{myUsers.id}}</p>
                <br>
                <p><strong>User's Repositories:</strong>{{myUsers.repos}}</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="table table-striped card">
                <div class="card-body">
                    <div *ngFor='let r of myrepos'>
                        <table class="table">
                            <tr>
                                <td>{{r.name}}</td>
                            </tr>
                            <tr>
                                <td>{{r.description}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>